<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">


</head>
<body>

<section class="hero">
  <!-- エメラルドグリーンの空 -->
  <div class="sky"></div>
  <!-- 白い霧（最初に見える） -->
  <div class="fog"></div>
  <!-- 妖精（小さく） -->
  <img
    src="{{ "/assets/images/TeaFairy.png" | relative_url }}"
    alt="お茶の妖精"
    class="tea-fairy"
  >
</section>
<script src="{{ "/assets/js/home.js" | relative_url }}"></script>
</body>

  
</html>
